body {color: red;}

img
{
    
    width: 140px;
    border-radius: 25%;

}

.card
{

    margin: auto;
    margin-top: 20px;
    background-color: black;
    width: 100%;
    max-width: 450px;

}

.content
{

        text-align: center;
        padding: 105px;
  
}

.enlace 
{

    background-color: red;
    margin: 5%;
    padding: 10%;
    text-decoration: none;
    color: white;
    text-align: center;
    transition: linear 0.1s;

    
}

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.enlace:hover
{

    background-color: rgb(255, 167, 167);
    color:black;
    transition: linear 0.1s;
}



